<div class="jumbotron text-center">
  <h1>Listing des Jeux</h1>
</div>

<div class="container">
  <a class="btn btn-secondary" (click)="accueil()" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour accueil</a>
  <h2>Tableau des Jeux</h2>
  <div class="container">
    <h3>Liste des Jeux</h3>
    <table class="table table-hover">
      <tr>
        <th class="col-md-1 col-xs-1"></th>
        <th class="col-md-1 col-xs-1">Numéro de jeu</th>
        <th class="col-md-6 col-xs-6">Libellé de jeu</th>
        <th class="col-md-1 col-xs-1">Missions</th>
      </tr>

      <tr *ngFor="let jeu of jeux">
        <td class="col-md-1 col-xs-1">
          <a (click)="goToJeu(jeu.numJeu)">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
        </td>
        <td class="col-md-1 col-xs-1">{{jeu.numJeu}}</td>
        <td class="col-md-6 col-xs-6">{{jeu.libelleJeu}}</td>
        <td>
          <li *ngFor="let mission of jeu.missions | keyvalue" >
            <a (click)="goToMission(mission.key)">{{mission.value}}</a>
          </li>
        </td>
      </tr>
    </table>
  </div>
</div>
