  <div class="container">
    <div class="jumbotron text-center">
      <h1>Bienvenue dans l'application Permis Piste !</h1>
    </div>

    <h2>Sélectionnez dans le menu la fonctionnalité voulue !</h2>
    <h1>Maxime Maxime et Kohlain y sont trop beaux <3 (arthur aussi mais il est méchant) </h1>

    <a class="btn btn-secondary" (click)="linkApprenant()" role="button">1) S'enregistrer en tant qu'apprenant</a>
    <a class="btn btn-secondary" routerLink="/jeu" role="button">2) Voir la liste des jeux</a>
    <a class="btn btn-secondary" routerLink="/mission" role="button">3) Accéder à la liste des missions</a>

    <h4>D'autres informations comme la liste des apprenants ou des actions sont disponibles dans la barre de navigation</h4>
</div>
